<!DOCTYPE html>
{% extends 'homepage.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block script %}
    <body>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Account No.</th>
            <th scope="col">Location</th>
        </tr>
        </thead>
        <tbody>
        {% for data in data %}
            <tr>

                <td><a href="{% url 'company:customer_view' data.id %}">{{ data.FirstName }}</a></td>
                <td>{{ data.LastName }}</td>
                <td>{{ data.Email }}</td>
                <td>{{ data.AccountNumber }}</td>
                <td>{{ data.Location }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </body>
{% endblock %}
</html>